/* .form-control{
	font-weight: 500;
    color: #222;
} */


.eye-icon {
    float: inline-end !important;
}

h6.forgot_sec {
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    text-decoration: underline;
}

h6.forgot_sec a {
    text-decoration: none;
    color: #333;
}

.col-form-alert-label {
    color: #ff0000;
}

.has-danger .form-control {
    border-color: #ff0000
}

.has-danger .col-form-label {
    color: #e74c3c;

}

/*{
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}*/

.content-header h1 {
    font-size: 21px;
    margin: 0;
    font-weight: 500;
}

.table thead th {
    background: #FFD0E7;
    color: #0E0F0F;
    text-align: left;
    font-weight: 400;
}

.table thead th {
    border-bottom: 0px;
}

.table-bordered td a {
    margin: 0px 5px;
}

.nofloat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: none;
}

table.dataTable td {
    vertical-align: middle;
}

.card-title {
    font-weight: 600;
}

.table td,
.table th {
    vertical-align: middle;
}

.profile_pic {
    width: 100%;
    background: none;
    width: 220px;
    height: 220px;
    display: block;
    margin: auto;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

.profile_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #007bff;
    padding: 3px;
}

/* .form-control {
    color: #222;
    height: auto;
    padding: 10px 15px;
    font-weight: 500;
    font-size: 16px;
} */

label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 600;
}

.form-group {
    margin-bottom: 25px;
}

.bg_transparent {
    background-color: transparent;
}

#imgInp {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card-title {
    float: none;
}

.card-header i.fa-pencil {
    margin-right: 10px;
}

a {
    text-decoration: none !important;
}

div.dataTables_wrapper div.dataTables_filter label {
    text-align: right;
}

td select {
    /* max-width: 150px;
    display: block;
    margin: auto; */
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: #FFD0E7;
    color: #0E0F0F !important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0%), 0 1px 2px rgba(0, 0, 0, .24);
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link:hover,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link:hover {
    background-color: #FFD0E7;
    color: #0E0F0F !important;
}

.bg_info_pink {
    background: #ffd0e7;
}

.bg_info_pink i {
    color: #0E0F0F;
    font-size: 20px;
}

.left_sidebar_img img {
    max-width: 100%;
    max-height: 50px !important;
    margin: 0px !important;
    padding: 0px 20px;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:focus,
[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
    background-color: #FFD0E7 !important;
    color: #fff !important;
}

[class*=sidebar-dark-] .sidebar a {
    color: #000 !important;
}

[class*=sidebar-dark-] {
    background-color: #fff !important;
    color: #fff !important;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #e5e5e5;
}

.main-sidebar img {
    width: 100% !important;
    display: block;
    margin: auto;
}

.btn-primary {
    background-color: #FFD0E7 !important;
    border-color: #FFD0E7 !important;
    color: #0E0F0F;
}

.btn-primary:hover {
    color: #0E0F0F;
}

.page-item.active .page-link {
    background-color: #FFD0E7;
    border-color: #FFD0E7;
}

table td a,
.breadcrumb-item a {
    color: #f377b3 !important;
}

table.dataTable td {
    text-align: center;
}

img.user-img.img-css {
    object-fit: cover;
}

i.fas.fa-toggle-on,
i.fas.fa-toggle-off {
    font-size: 28px;
    color: #FFD0E7 !important;
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

button.btn.btn-sm.btn-primary.mt-2 {
    margin-top: 0px !important;
}

.login-page,
.register-page {
    /* background: url('https://work.mobidudes.in/SK/dispobooking/public/uploads/banner/1732598646_67455b761cb54.jpg'); */
    background: #FFD0E714;
    width: 100%;
    /* height: 100%; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

/*style="background: url('{{ asset('public/web/assets/images/login-img.png') }}') no-repeat center center; background-size: cover;"*/

.login-box {
    width: 1200px !important;
    height: 600px;
    background: #fff;
    border-radius: 0px;
    box-shadow: 4px 4px 20.9px 9px #DDDCEB40;
}

.login-img img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 0px;
    /* opacity: 0.5; */
    filter: brightness(0.9);
}

.login-box .card {
    box-shadow: none;
    border: none;
}

.login-box .card .card-header {
    border-bottom: none;
    background: transparent;
}

.login-box .form-control {
    width: 343px !important;
    height: 50px;
    padding: 10px 17px 10px 17px;
    gap: 12px;
    /* border-radius: 12px 0px 0px 12px !important; */
    border-radius: 12px 12px 12px 12px !important;
    border: 1px solid #DBE4F7 !important;
    outline: none !important;
    box-shadow: none !important;
}

.icheck-primary>input:first-child:checked+input[type=hidden]+label::before,
.icheck-primary>input:first-child:checked+label::before {
    background-color: #FFD0E7;
    border-color: #FFD0E7;
}

.icheck-primary>input:first-child:not(:checked):not(:disabled):hover+input[type=hidden]+label::before,
.icheck-primary>input:first-child:not(:checked):not(:disabled):hover+label::before {
    border-color: #FFD0E7;
}

img.animation__shake {
    width: 150px;
}

.card-primary:not(.card-outline)>.card-header {
    background-color: #FFD0E7;
}

.card-title {
    color: #000;
}

@media screen and (min-width:300px) and (max-width:767px) {

    #users_wrapper .col-sm-12,
    #broker_wrapper .col-sm-12,
    #other_wrapper .col-sm-12,
    #surveyor_wrapper .col-sm-12,
    #surveys_wrapper .col-sm-12,
    #example2_wrapper .col-sm-12,
    #categories_wrapper .col-sm-12 {
        overflow: auto;
    }

    .user-tabs li {
        width: 100%;
        margin-bottom: 10px;
    }

    .user-tabs li a {
        text-align: center;
    }

    #users_filter {
        text-align: left;
        float: left;
    }
}


.nav-item .fas {
    right: 0 !important;
}

.action-icons .btn {
    display: inline-block;
}

.show-btn {
    background: #0dcaf05b !important;
    color: #000 !important;
    border: 0 !important;
}

.show-btn:hover {
    background: #0dcaf0 !important;
    color: #fff !important;
    border: 0 !important;
}

.edit-btn:hover {
    background: #408631 !important;
    color: #fff !important;
}

.edit-btn {
    background: #40863147 !important;
    color: #000 !important;
    border: 0 !important;
}

.delete-btn {
    background: #ff000045 !important;
    color: #000 !important;
    border: 0;
}

.delete-btn:hover {
    background: #db0000 !important;
    color: #fff !important;
}

.approve-btn {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    border: none !important;
    box-shadow: none;
}

.ph-toggle-left {
    font-size: 25px;
    color: #bbbbbb;
}

.ph-toggle-right {
    font-size: 25px;
    color: green;
}

.toggle_button {
    margin-top: 5px;
}

.text-black a,
.back-btn,
.text-black {
    color: #333;
    border: none;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 25px;
    transition: 0.3s;
}

.action_table {
    text-align: right !important;
}

#CreateForm {
    text-align: left;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 500;
    font-size: 15px;
}

.modal-header h4 {
    font-size: 18px;
    color: #333;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.btn:focus-visible,
button {
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
}

button:focus {
    outline: none !important;
}

.btn-default {
    background: #e1e1e1;
}

#CreateModalOpen,
.CreateModalOpen,
#EditFormSubmitBtn,
#CreateModalSubmitBtn {
    color: #000 !important;
}

.btn-default {
    background-color: #d9d9d9 !important;
}

.toggle_button {
    background: none !important;
    border: none !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.toggle_button:hover {
    background: none !important;
    border: none !important;
}